{% extends 'index.html' %}

{% block title %}Internships{% endblock %}
{% block head %}Internships{% endblock %}


{% load crispy_forms_tags %}

{% block content %}

<!-- content -->

<!-- message -->
{% if messages %}
{% for message in messages %}
	<div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role = "alert">
	{{ message }}
	</div>
{% endfor %}
{% endif %}
<!-- message -->
<div>
	
{% for a in i %}
	<p>{{date.today}}</p>
	{% if today < a.apply_before %} 
<!-- <div class="jumbotron bg-secondary text-dark">
	<div class="container"> -->
		<div class="row">
		<div class="col">Internship Title : <a href="/company/{{a.id}}">{{a.company_name|safe|escape }}</a></div>
		<div class="col">
			Apply till :&emsp;{{a.apply_before}}<br>
			Campus Date :&emsp; {{a.Campus_date}}
		</div>
		<div class="col">	
		<a href="/company/{{a.id}}"><button class='btn float-right'>Views detail</button></a></div>
		
	</div>
		<hr style="border-width: 2px;border-color: black">
		{% endif %}
		<!-- 		
	</div>	
</div>	   -->
{% endfor %}

</div>

{% endblock %}
