{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block tab_title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block form %}

<!-- content -->
<form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-danger" type="submit">Login</button>
                </form>
	
              

{% endblock %}

{% block box_footer %}

<div id="formFooter">
      Don't have an account?
<a class="underlineHover" href="{% url 'register' %}">Sign Up</a>
    </div>



<div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

{% endblock %}
