{% extends 'base2.html' %}
{% block title %}SIGN UP{% endblock %}

{% block tab_title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}-

{% block form %}

<!-- content -->

  <div>
			<form method="post">
				{% csrf_token %}
				{{form|crispy}}
				{{form2|crispy}}
				<input class="btn btn-success" type="submit" name="submit">
			</form>
	</div>


{% endblock %}

{% block box_footer %}

<div id="formFooter">
      Already have an account?
<a class="underlineHover" href="{% url 'login' %}">Login</a>
    </div>
    
{% endblock %}
