{% extends 'base2.html' %}
{% block title %}SIGN UP{% endblock %}

{% block tab_title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}-

{% block form %}
<!-- {% if messages %} -->
<!-- <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->
{% if messages %}
{% for message in messages %}
	<div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role = "alert">
	{{ message }}
	</div>
{% endfor %}
{% endif %}
<!-- content -->

  <div>
			<form method="post">
				{% csrf_token %}
				{{form|crispy}}
				{{form2|crispy}}
				<input class="btn btn-success" type="submit" name="submit">
			</form>
	</div>


{% endblock %}

{% block box_footer %}

<div id="formFooter">
      Already have an account?
<a class="underlineHover" href="{% url 'login' %}">Login</a>
    </div>
    
{% endblock %}
