{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="{% static 'css/base_main.css' %}" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<div class="wrapper fadeInDown">
  <div id="formContent2">
    <!-- Tabs Titles -->
    <h2>{% block tab_title %}{% endblock %}</h2>
    
    <!-- Login Form -->
    {% block form %}{% endblock %}
	
	{% block box_footer %}{% endblock %}
    
    
  </div>
</div>

</body>
</html>